<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{STYLE}</title>
</head>

<body>
    <h1>{STYLE}</h1>
    <div>{COURT}, {DATE}</div>
    <div>{DISPOSITION}</div>
    <section>
        <details>
            <summary>
                <h2>Procedural History</h2>
            </summary>
            <div>{HISTORY}</div>
        </details>
    </section>
    <section>
        <details>
            <summary>
                <h2>Issue</h2>
            </summary>
            <div>{ISSUE}</div>
        </details>
    </section>
    <section>
        <details>
            <summary>
                <h2>Trigger Facts</h2>
            </summary>
            <div>{FACTS}</div>
        </details>
    </section>
    <section>
        <details>
            <summary>
                <h2>Rule</h2>
            </summary>
            <div>{RULE}</div>
        </details>
    </section>
    <section>
        <details>
            <summary>
                <h2>Reasoning</h2>
            </summary>
            <div>{REASONING}</div>
        </details>
    </section>
    <section>
        <details>
            <summary>
                <h2>Holding</h2>
            </summary>
            <div>{HOLDING}</div>
        </details>
    </section>
    <section>
        <details>
            <summary>
                <h2>Main Takeaway</h2>
            </summary>
            <div>{TAKEAWAY}</div>
        </details>
    </section>
    <section>
        <details>
            <summary>
                <h2>Other Notes</h2>
            </summary>
            <div>{NOTES}</div>
        </details>
    </section>
</body>

</html>